{% load tz %}
<div class="col mb-4">
  <!-- Card -->
  <div class="card">

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h2 class="card-title">{{ data.title }}</h2>
      <!-- Publish Date -->
      <div class="text-muted">
        {{ data.published | localtime  }}
      </div>
      <!-- User -->
      <div class="deep-orange-text">
        {{ data.user.username }}
      </div>
      <br>
      <!-- Text -->
      <p class="card-text">{{ data.content | truncatechars:turn_len }}.</p>
      <!-- Button -->
      <a href="#" class="btn btn-danger ">Read More</a>

    </div>

  </div>
  <!-- Card -->
</div>